footer.footer
  div.container
    div.row
      div.footer-social
        a.footer-social__link.icon-facebook(href="#")
        a.footer-social__link.icon-twitter(href="#")
        a.footer-social__link.icon-instagram(href="#")
      div.footer-address
        address 
          a(href="#") St. Thomas street 21st, Suite 110, Santa Monica, California
      div.footer-copy
        p © 2016 Be Latte, all right reserved