header.header
  div.container
      nav.menu
        ul.menu__left
          +menu-link({title: 'Home'})
          +menu-link({title: 'About us'})
          +menu-link({title: 'Team'})
        ul.menu__right
          +menu-link({title: 'Menu'})
          +menu-link({title: 'Blog'})
          +menu-link({title: 'Contact'})
      img.logo(src="img/logo.png", alt="Be latte")
