section.location
  div.container
    div.row
      h2.title.location__title.cell Location
      div.location__block.location-block.cell
        div.location-block__address.block-address
          div.block-address__location
            h3 Location
            p Visit us at St. Thomas street 21st, suite 110, Santa Monica, California.
          div.block-address__hours
            h3 Hours
            div.block-address__hours-day
              div.day Mon - Sat:
              time 7am - 8pm
            div.block-address__hours-day
              div.day Sunday:
              time 7am - 5pm
          div.block-address__happy-hour
            h3 Happy hour
            div.block-address__hours-day
              div.day Mon - Fri:
              div 4pm - 6pm
        div.location-block__img
          div.img-wrap
            img(src="img/map.jpg", alt="alt")