section.testimonials
  div.container
    div.row
      img.img-decoration(src="img/cup.png", alt="")
      h2.title.testimonials__title.cell Testimonials
      div.testimonials__block.testimonials-block.cell
        div.testimonials-block__img
          div.img-wrap
            img(src="img/img_bot.jpg", alt="alt")
        div.testimonials-block__slider.testimonials-slider
          div.slider-toggles
          div.slider
            div.wrapper-slide
              div.testimonials-slider__item
                div.testimonials-slider__item-content
                  div.testimonials-slider__photo
                    div.photo-wrap
                      img(src="img/person_1.jpg", alt="alt")
                  div.testimonials-slider__descr
                    h3.testimonials-slider__person-name.title.title_gold Chris Parker
                    p.testimonials-slider__person-text Nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                      | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris accumsan.
            div.wrapper-slide
              div.testimonials-slider__item
                div.testimonials-slider__item-content
                  div.testimonials-slider__photo
                    div.photo-wrap
                      img(src="img/person_2.jpg", alt="alt")
                  div.testimonials-slider__descr
                    h3.testimonials-slider__person-name.title.title_gold Mark Doe
                    p.testimonials-slider__person-text Lorem ipsum dolor. 
                      | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris accumsan.
            div.wrapper-slide
              div.testimonials-slider__item
                div.testimonials-slider__item-content
                  div.testimonials-slider__photo
                    div.photo-wrap
                      img(src="img/person_1.jpg", alt="alt")
                  div.testimonials-slider__descr
                    h3.testimonials-slider__person-name.title.title_gold Jhon Doe
                    p.testimonials-slider__person-text Lorem ipsum dolor. 
                      | Duis sed odio sit amet nibh vulputate cursus a sit amet mauris accumsan.