section.welcome
  div.container
    div.row
      div.welcome__content
        h1.welcome__title.title.title_gold.cell Welcome to Be Latte
        div.welcome__descr.cell
          p Enjoy of a fresh new approach to coffee. Proin gravida nibh vel velit. Auctor aliquet sollicitudin lorem quis.
          p When there is bad weather outside, and the reluctance to go out, then a cup of coffee is just happiness!
          p We are glad to offer you invigorating coffee and delicious desserts. Enjoy of a fresh new approach to coffee.
        div.welcome__button.cell
          +button({title: 'See menu'})
section.so-good
  div.container
    div.row
      img.img-decoration(src="img/cup.png", alt="")
      div.so-good__content
        h2.so-good__title.title.cell Coffee never tasted 
          strong so good!
        p.so-good__text.cell Morbi accumsan ipsum velit.
          | Nam nec tellus a odio tincidunt auctor a ornare odio.
          | Sed non  mauris vitae erat consequat auctor eu in elit.
          | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.