.footer {
  background-color: #39312f;
  min-height: 300px;

  .row {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-social {
    margin-top: 90px;
    margin-bottom: 30px;

    &__link {
      margin: 0 20px;
      font-size: 25px;
      transition: color .4s;

      &:hover {
        color: $c-main;
      }
    }
  }

  &-address {
    margin-bottom: 15px;
    
    a {
      transition: color .4s;

      &:hover {
        color: $c-main;
      }
    }
  }

  &-copy {
    font-size: 14px;
    color: $c-main;
  }
}